.header {
  width: 100%;
  background-image: url(./images/header.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  height: 300px;
  justify-content: space-between;
  padding: 50px 50px;
}
.buttons {
  display: flex;
  gap: 70px;
  align-items: center;
  height: 70px;
}
.header-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header-button {
  border-radius: 20px;
  border: 2px solid #0f466e;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 60px;
  width: 290px;
  align-items: center;
  padding-top: 18px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 60px;
}
.image {
  max-width: 1000px;
  width: 45%;
  object-fit: cover;
}
.form {
  width: 624px;
  height: 850px;
  border-radius: 53px 105px;
  background: linear-gradient(
      0deg,
      var(--tint-20, rgba(21, 26, 51, 0.453)) 0%,
      var(--tint-20, rgba(7, 21, 79, 0.549)) 100%
    ),
    url(./images/5c16c0fda1d20f372609de41a0b9a185.jpg),
    lightgray 50% / cover no-repeat;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 140px 80px;
  align-items: center;
  justify-content: center;
}
.form h2 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.form p {
  color: #fff;
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.9%; /* 27.577px */
  letter-spacing: -0.345px;
  text-align: center;
}
.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
}
.form-button {
  border-radius: 40px 0px 40px 40px;
  border: 2px solid #0669a4;
  background: #fbfeff;
  box-shadow: 0px 1px 5px 0px #fff;
  color: #0064a0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  height: 90px;
}
.footer {
  width: 100%;
  background-image: url(./images/footer.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 420px;
  justify-content: space-between;
  padding: 50px 50px;
  align-items: end;
  margin-bottom: -50px;
}
.footer h3 {
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer p {
  color: #595b59;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 94.4%; /* 18.88px */
  max-width: 250px;
}
.footer a {
  display: flex;
  gap: 33px;
  align-items: center;
}
.buttons {
}
.footer-link {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-button {
  border-radius: 20px;
  border: 2px solid #0f466e;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 60px;
  width: 290px;
  align-items: center;
  padding-top: 5px;
  justify-content: center;
}
.adaptive {
  display: none;
}
.main {
  align-items: center;
}

@media (max-width: 1000px) {
  .form {
    width: 45%;
    border-radius: 53px 105px;
    gap: 36px;
    padding: 60px 30px;
    height: auto;
  }
  .form h2 {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .form p {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.9%; /* 17.985px */
    letter-spacing: -0.225px;
  }
  .form-button {
    height: 50px;
  }
  .header {
    padding: 20px 20px;
  }
  .header-button {
    width: 160px;
    height: 37px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 11px;
    border: 0;
  }
  .header-link {
    color: #fff;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .buttons {
    gap: 20px;
  }
  .footer-button {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 37px;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 5px;
    border: 0;
    border-radius: 20px;
    border: 0px solid #0f466e;
    background: #1a78b1;
  }
  .footer-link {
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .footer {
    padding: 20px 20px;
    height: 300px;
  }
  body {
    background-image: url(./images/breaking.png);
    background-size: cover;
    background-position: center;
  }
  .main {
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .form {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .header {
    height: 350px;
  }
  .header img {
    width: 100%;
  }
  .header-image {
    width: 50%;
  }
  .footer a {
    gap: 20px;
  }
  .header-image h3 {
    font-size: 20px;
  }
  .header-image p {
    font-size: 14px;
  }
  .footer .header-image img {
    width: 33%;
  }
}
@media (max-width: 550px) {
  .header-image h3 {
    font-size: 16px;
  }
  .header-image p {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .main {
    padding: 0 20px;
  }
  .form {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .header {
    height: 200px;
    background-image: url(./images/header-adaptive.svg);
  }
  .header img {
    width: 100%;
  }
  .header-image {
    width: 50%;
  }
  .buttons {
    display: none;
  }
  .adaptive {
    display: block;
  }
}
